**/.DS_Store
**/.aws
**/.coverage
**/.coveragerc
**/.editorconfig
**/.env
**/.eslintrc.json
**/.git
**/.gitattributes
**/.gitignore
**/.github
**/.idea
**/.mypy_cache
**/.pip-cache
**/.pre-commit-config.yaml
**/.prettier*
**/.pylintrc
**/.pytest_cache
**/*.ssh
**/.vscode
**/Dockerfile
**/README.md
**/docker-compose.yml
**/docker-compose*
**/doppler.yaml
**/LICENSE
**/node_modules
**/package.json
**/package.json.lock
**/postgres.yml
**/pyproject.toml
**/setup.cfg
**/*.pem
**/.dockerignore
**/.readthedocs.yml
**/CONTRIBUTORS.txt
**/__pycache__
**/*.pyc