name: CI

# Enable Buildkit and let compose use it to speed up image building
env:
  DOCKER_BUILDKIT: 1
  COMPOSE_DOCKER_CLI_BUILD: 1

on:
  pull_request:
    branches: ['master', 'main']
    paths-ignore: ['docs/**']

  push:
    branches: ['master', 'main']
    paths-ignore: ['docs/**']

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  python-checks:
    runs-on: ubuntu-latest
    env:
      DOPPLER_TOKEN: test
    steps:
      - name: Checkout Code Repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: pip
          cache-dependency-path: |
            requirements/base.txt
            requirements/local.txt
            requirements/production.txt

      - name: Install Doppler CLI
        uses: dopplerhq/cli-action@v2

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements/local.txt
          pip install -r requirements/production.txt

      - name: pylint
        run: doppler run --fallback-only --fallback ./utility/doppler.fallback.json --passphrase "test" -- pylint --load-plugins pylint_django ./chatgpt_clone/

      - name: flake8
        run: flake8

      - name: mypy
        run: doppler run --fallback-only --fallback ./utility/doppler.fallback.json --passphrase "test" -- mypy chatgpt_clone

  frontend-checks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code Repository
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: 20.x

      - uses: actions/setup-node@v3
        with:
          node-version: 20.x

      - name: Install dependencies
        run: npm install

      - name: Install dependencies
        run: npm install

      - name: Prettier
        run: npm run prettier

      - name: ESLint
        run: npm run lint
  